  <app-navbar></app-navbar>

    <div class="dashboard-container">
        <h3 class = "heading">Welcome, {{ userService.getCurrentUser()?.username }}!  Your Groups are</h3>
        <!-- Show SUPER_ADMIN message -->
        <div *ngIf="userService.getCurrentUser()?.role?.includes('SUPER_ADMIN')" class="super-admin-msg">
          You're Super administrator, you can access all groups and channels
        </div>

        
        <div class="group-grid">
          <div class="group-card" *ngFor="let group of userGroups">
            
            <!-- show per-group admin message -->
            <div class="admin-message" *ngIf="isGroupAdminOf(group)">
              Group Administrator of
            </div>

          <img [src]="'assets/Flowers/' + getImageFile(group)" alt="{{ group.name }}" class="group-image">
          <p class = "group-name">{{ group.name }}</p>

          <div class = 'button-container'>
            <button class="group-button" [routerLink]="['/group', group.id, 'channels']">Open</button>
            <!-- group admin and super admin can delete/modify groups -->
            <button class="group-button"  *ngIf="canManageGroup()" (click)="onDeleteGroup(group.id)">Delete</button>
            <button class="group-button"  *ngIf="canManageGroup()" (click)="onModifyGroup(group.id)">Modify</button>

             <!-- Normal user can leave the group -->
            <button class="group-button" *ngIf="!canManageGroup()" (click)="leaveGroup(group.id)">Leave</button>
          </div>

        </div>
      </div>

    <!-- Create group button + form (visible only to admins) -->
     <div class="create-group-area" *ngIf="canManageGroup()">
       <h3 class="text-center">Create New Group</h3>
       <form (ngSubmit)="createGroup()">
         <div class="form">
           <label>Group Name: </label>
           <input [(ngModel)]= "newGroupName" name="newGroupName" type="text" class="form-control" placeholder="Enter group name">
         </div>
         <button class="button" type="submit">Create Group</button>
       </form>
     </div>

      <h3 class = "heading">You may like ...?</h3>
        <div class="group-grid">
          <div class="group-card" *ngFor="let group of otherGroups">
            
            <img [src]="'assets/Flowers/' + getImageFile(group)" alt="{{ group.name }}" class="group-image">
              <div class="group-name">{{ group.name }}</div>
                <button class="register-button" (click)="requestJoinGroup(group.id)">Register</button>
              </div>
          </div>
      </div>

      <!-- Normal user: Delete own account -->
      <div class="delete-account-area" *ngIf="!canManageGroup()">
        <h3>You would like to delete your account?</h3>
        <button class="delete-account-btn" (click)="deleteAccount()">
          Delete My Account
        </button>
      </div>
