body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f7f7f7;
  }

  .heading {
    font-size: 30px;
  }

  .admin-message {
    font-size: 20px;
  }

  .super-admin-msg {
    font-size: 20px;
  }
  
  .dashboard-container {
    text-align: center;
    padding: 30px;
  }
  
  .group-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .group-card {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    width: 300px; /* same width as login form */
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.2s;
  }

  .group-grid :hover {
    transform: scale(1.05);
  }
  
  .group-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .group-name {
    margin: 10px 0;
    font-size: 25px;
    color: rgb(142, 138, 138);
  }
  
  .group-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #8ebddd;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: black;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .group-button:hover {
    background-color: #2980b9;
    transform: scale(1.2);
  }

  .create-group-area {
    background-color: rgb(178, 237, 217);
    width: 60%;              
    margin: 40px auto;      
    padding: 20px;          
    border-radius: 8px;      
    display: flex;          
    justify-content: center; 
    flex-direction: column;
    align-items: center;     /* center form vertically */
  }

  form {
    background-color: #fff;
    align-self: center;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


  .register-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #8ebddd;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .register-button:hover {
    background-color: #2980b9;
    transform: scale(1.2);
  }
  