<app-navbar></app-navbar>

<div class="channel-container">
    <h4 class="mb-4">You're in Group {{ groupId }}</h4>

  <div class="user-control-panel" *ngIf="canManageGroup()">
    <h3>Only Group Admin and Super Admin can touch this panel</h3>
    <div class="list-container">
      <!-- User List Section -->
      <div class="user-list" *ngIf="canManageGroup()">
        <h2>Users in this group</h2>
        <div *ngFor="let user of usersInGroup">
          <span>{{ user.username }}</span>
          <button class="list-btn" (click)="removeUser(user)">Remove</button>
        </div>
      </div>
      
      <!-- User Requests Section -->
      <div class="user-pending-list" *ngIf="canManageGroup()">
        <h2>Pending User Requests</h2>
        <div *ngFor="let req of pendingRequests">
          <span>{{ usersMap[req.userId]?.username }}</span>
          <button class="list-btn" (click)="approveRequest(req)">Approve</button>
          <button class="list-btn" (click)="rejectRequest(req)">Reject</button>
        </div>
      </div>

       <!-- User Promote Section -->
       <div class="user-promote-list" *ngIf="userService.isSuperAdmin(userService.getCurrentUser()!)">
        <h2>Promote Users</h2>
        <div *ngFor="let user of usersInGroup">
          <span>{{ user.username }}</span><br>
          <button class="list-btn" (click)="promoteUser(user,'SUPER_ADMIN')" [disabled]="user.role.includes('SUPER_ADMIN')"> To Super Admin</button>
          <button class="list-btn" (click)="promoteUser(user,'GROUP_ADMIN')" [disabled]="user.role.includes('GROUP_ADMIN')">To Group Admin</button>
        </div>
      </div>
    </div>


    </div>

    <h4 class="mb-4">Channels</h4>
    <div class="channel-grid">
      <div class="channel-card" *ngFor="let channel of channelsInGroup">
        <!-- channel image -->
        <img [src]="'assets/Channels/' + channel.name + '.png'" 
             class="channel-image" 
             alt="{{ channel.name }}">
  
        <div class="channel-name">{{ channel.name }}</div>
        <div class="button-container">
          <button class="channel-button" (click)="openChannel(channel.id)">Open</button>
          <button class="channel-button"  *ngIf="canManageGroup()" (click)="deleteChannel(channel.id)">Delete</button>
        </div>
      </div>
    </div>

    <div class="create-new-channel" *ngIf="canManageGroup()">
      <h3 class="text-center">Create New Channel</h3>
      <form (ngSubmit)="createChannel()">
        <div class="form">
          <label>Channel Name: </label>
          <input [(ngModel)]="newChannelName" name="channelName" type="text" class="form-control" placeholder="Enter channel name">
        </div>
        <button class="create-button" type="submit">Create Channel</button>
      </form>
    </div>

</div>